<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    
</head>
<body>
    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.MenuItem("Hem", "Index", "Home")</li>
                <li>@Html.MenuItem("Kund", "Index", "Customer")</li>
                <li>@Html.MenuItem("Order", "Index", "Order")</li>
                <li>@Html.MenuItem("Enhet", "Index", "OrderUnit")</li>
                <li>@Html.MenuItem("Kontaktperson", "Index", "Person")</li>
                <li>@Html.MenuItem("Kategori", "Index", "Category")</li>
                <li>@Html.MenuItem("Kategorityp", "Index", "CategoryType")</li>
            </ul>
     
            <ul class="nav navbar-nav navbar-right" >
                <li><a href="#">Login</a></li>
            </ul>
        </div>
    </div>

    @RenderBody()
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")  
    @RenderSection("scripts", required: false)
</body>
</html>
